h1{
    font-family: monospace;
    background-color: blue;
    text-align: center; 
}
h2{
    font-family: monospace;
    background-color: rgb(160, 212, 241);
    text-align: center;
    }
img{
  
    display: block; 
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

p{
    font-family: monospace;
    font-weight: 600;

}

#factButton{
    margin-left: auto;
    margin-right: auto;

}

li{
    font-family: monospace;
    font-weight: 600;
}
button{
    background-color: rgb(170, 233, 165);
    
}
#box{
    background-color: rgb(9, 79, 82);
    width: 300px;
    height: 340px;
    margin: auto;
    background-position: center;
    border: rgb(84, 38, 248);
    border-radius: 25px;
    border-width: 0.3em;
    border-style: double;
}

.clearfix::after{
    content: "";
    display: block ;
    clear: both;
}